<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.title}"</title>
    </h:head>
    <h:body>
        <h:form>
            <p><h:outputLabel value="#{msgs.notCorrect}" /></p>
            <p><h:outputLabel value="#{quizBean.question}" /></p>
            <p><h:inputText value="#{quizBean.response}"/></p>
            <p>
                <h:commandButton value="#{msgs.checkAnswer}"
                                 action="#{quizBean.answerAction}"/>
            </p>
        </h:form>
    </h:body>
</html>