<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <p>
                <h:outputLabel value="#{msgs.thankYou}" />
                <h:outputFormat value="#{msgs.score}">
                    <f:param value="#{quizBean.score}"/>
                </h:outputFormat>
            </p>
            <p>
                <h:commandButton value="#{msgs.startOver}"
                                 action="#{quizBean.startOverAction}"/>
            </p>
        </h:form>
    </h:body>
</html>